body{
  background-color: #F5F5DC;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}
.komeiji{
  font-weight: bold;
}
.yakumo{
  color: #FF0000;
}
.scarlet{
  text-decoration: underline;
}